*{
    margin: 0;
    padding: 0;
    box-shadow: none;
}

:root{
    @font-face {
        font-family: "carta-marina", sans-serif;
        src: url('~/public/CartaMarinaRegular.otf') format('otf');
    }
}