@font-face {
    font-family: 'Carta Marina';
    src: url('~/public/fonts/CartaMarina.woff2') format('woff2'),
        url('~/public/fonts/CartaMarina.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*{
    margin: 0;
    padding: 0;
    box-shadow: none;
}

html,
body {
    font-family: 'Carta Marina';
}